@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');

$Oswald: 'Oswald', sans-serif;
$Luxurious: 'Luxurious Script';
$Courier: 'Courier New', Courier, monospace;
