$primary-color: #0D192D;
$secondary-color: #CED6F3;
$tertiary-color: #15223E;

$light-blue-color: #B1D4E0;
$pink-color: #FF00CC;
$purple-color: #6969FD;

$footer-color: #E1E1E1;

$font-title: 70px;
$font-subtitle: 60px;
$font-caption: 30px;
$font-large: 25px;
$font-normal: 20px;
$font-small: 18px;
$font-extra-small: 15px;
$font-extra-extra-small: 10px;
